html {
  background-color: rgb(24, 24, 24);
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

div.Seitenleiste {
  background-color: white;
  width: fit-content;
  padding: 0.1875rem;
  height: 100vh;
  position: fixed;
  top: 0;
  animation-name: Seitenleiste;
  animation-duration: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.SeitenleisteS1 {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-weight: 900;
  font-size: clamp(15px, 1.5vw, 1000px);
  margin-top: 0.625rem;
}

hr.SeitenleisteTrennSchwarz {
  border: none;
  background-color: black;
  width: 100%;
  height: 0.125rem;
}

h1.Willkommen {
  color: white;
  margin-left: 8.75rem;
  font-size: clamp(20px, 4vw, 100px);
  animation-name: txt1;
  animation-duration: 1s;
}

p.WillkommenDetails {
  color: white;
  margin-left: 8.75rem;
  font-size: clamp(15px, 1vw, 10000px);
  animation-name: txt1;
  animation-duration: 1s;
}

hr.trenn1 {
  border: none;
  height: 2px;
  background: linear-gradient(to right, white, transparent);
  width: 100%;
  animation-name: txt1;
  animation-duration: 1s;
  margin-left: 8.75rem;
}

h1.Überschrift1 {
  color: white;
  margin-left: 8.75rem;
  animation-name: txt1;
  animation-duration: 1s;
  font-size: clamp(15px, 3vw, 1000px);
}

button.KapitalismusButton {
  border: 0.0625rem white solid;
  background: none;
  color: white;
  width: fit-content;
  padding: 0.3125rem;
  margin-left: 8.75rem;
  border-radius: 50px;
  animation-name: txt1;
  animation-duration: 1s;
  cursor: pointer;
  transition: 0.1s;
  font-size: clamp(15px, 1vw, 1000px);
}

button.KapitalismusButton:hover {
  color: rgb(192, 192, 192);
  border: 1px rgb(192, 192, 192) solid;
}

.Video1 {
  margin-left: 8.75rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

p.fortsetzung {
  color: white;
  font-style: italic;
  margin-left: 8.75rem;
  font-size: 0.9375rem;
  animation-name: txt1;
  animation-duration: 1s;
  white-space: pre-line;
}

img.logo1 {
  width: clamp(15px, 4.3vw, 1000px);
}

h1.Überschrift2 {
  color: white;
  margin-left: 8.75rem;
  font-size: clamp(15px, 2vw, 1000px);
  animation-name: txt1;
  animation-duration: 1s;
}

p.Text1 {
  color: white;
  font-weight: 1;
  font-size: clamp(15px, 1.2vw, 1000px);
  margin-left: 8.75rem;
  animation-name: txt1;
  animation-duration: 1s;
}

button.Home {
  color: black;
  background: none;
  border: 0.0625rem black solid;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.1s;
  font-size: clamp(15px, 1vw, 1000px);
}

button.Home:hover {
  color: rgb(75, 75, 75);
  border: 0.0625rem rgb(75, 75, 75) solid;
}

p.Text2 {
  color: white;
  margin-left: 8.75rem;
  font-weight: 1;
  font-size: clamp(15px, 1.2vw, 1000px);
  animation-name: txt1;
  animation-duration: 1s;
  white-space: pre-line;
}

/* Animationen */

@keyframes Seitenleiste {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes txt1 {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  h1.Willkommen,
  p.WillkommenDetails,
  hr.trenn1,
  h1.Überschrift1,
  button.KapitalismusButton,
  .Video1,
  p.fortsetzung,
  h1.Überschrift2,
  p.Text1,
  p.Text2 {
    margin-left: 5rem;
  }
}
